html body table thead, html body table tfoot {
  color: #424242;
  font: 700 13px/3 "Roboto",sans-serif;
  text-align: left; }
html body {
  background: #ededed; }
html html body .list__table th, html html body .list__table td {
  line-height: 1.3; }

::-webkit-input-placeholder, ::-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #000000 !important;
  font-size: 12px; }

#search {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #000000;
  box-shadow: inset 0 0px 0px rgba(10, 10, 10, 0) !important;
  margin: 0px !important; }

.corpo_fundos {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px; }

.corpo_main_fundos {
  padding: 0px;
  border: 1px solid #ffffff; }

.list__table table thead {
  border: 0px;
  background: #ffffff; }

.fundos-nome {
  width: 30%; }

.fundos-col-resgate {
  width: 10%; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.fundos-linha {
  border-bottom: 1px solid #ededed;
  background: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer; }

tr.fundos-linhas {
  background: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer; }

tr.fundos-linhas:hover, tr.fundos-linhas:hover td {
  background: #E8FCFC; }

table {
  margin-bottom: 0rem; }

.card-fundos {
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0px 1px 3px #ccc; }

.fundos {
  background: #ffffff; }

.fund_macro_strategy {
  background: #ededed;
  font-weight: bold;
  position: relative;
  top: -1px; }

.fund_main_strategy {
  background: #fafafa;
  font-weight: bold;
  border-bottom: 1px solid #ededed; }

.grafico-fundo {
  float: left;
  height: 100%;
  width: 45%;
  margin: 1%; }

.detalhes-fundo {
  float: right;
  height: 100%;
  width: 45%;
  margin: 1%; }
  .detalhes-fundo p span {
    font-weight: 600; }
  .detalhes-fundo a {
    color: #333;
    text-decoration: underline;
    cursor: pointer; }

th.fund__name__cell {
  width: 40%; }

th.cabecalho {
  text-align: right;
  width: 10%;
  padding: 1%; }

td, html body .list__table tr.main-row td > p {
  color: #424242;
  font: 400 13px/17px "Roboto",sans-serif; }

html body .list__table th, html body .list__table td {
  line-height: 1.3; }

.menu-filtro {
  font-size: 12px;
  margin-top: 3.7%; }

.menu-filtro ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.menu-filtro ul li ul {
  transition: all 0.5s ease; }

.item-menu-filtro {
  font-weight: 500;
  box-shadow: 0px 1px 3px #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 140%;
  margin-left: -50%;
  padding: 7%;
  background: #fff; }

.item-submenu-filtro {
  font-weight: 400; }

.icon-open-close {
  color: #bebebe;
  font-size: 12px;
  float: right;
  top: 0px;
  position: relative;
  right: 0%;
  cursor: pointer; }

.find {
  left: -3%;
  position: relative;
  margin-top: 1%;
  z-index: 9999; }

.tipo-classe {
  color: #9B9B9B;
  font-size: 12px; }

.painel-busca {
  margin-top: 5%;
  width: 99.8%;
  border-radius: 5px;
  display: block;
  box-shadow: 0px 1px 3px #ccc;
  background: #fff;
  min-height: 100px;
  padding: 2%;
  margin-bottom: 2%; }

.painel-busca-interno {
  width: 70%; }

@media screen and (min-width: 800px) {
  .painel-fundos {
    width: 100%;
    padding: 5%; }

  .painel-principal {
    width: 75%; }

  .painel-lateral {
    width: 25%; } }
@media screen and (max-width: 799px) {
  .painel-fundos {
    width: 1%;
    padding: 5%; }

  .painel-principal {
    width: 100%; }

  .painel-busca {
    width: 100%;
    padding: 5%; }

  .find {
    left: -8%;
    position: relative;
    margin-top: 3%;
    z-index: 9999; }

  .menu-filtro {
    display: none; }

  .grid-container {
    margin: 0px; }

  .fund_macro_strategy {
    width: 1%;
    position: relative;
    top: -1px; }

  .corpo_main_fundos {
    width: 1%; }

  .fundos-nome {
    width: 1%; }

  .painel-lateral {
    width: 1%; } }

/*# sourceMappingURL=app.css.map */
