<!doctype html>
<html class="no-js" lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Fundos de Investimento</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link href="css/fa-brands.css" rel="stylesheet">
    <link href="css/fa-regular.css" rel="stylesheet">
    <link href="css/fa-solid.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/fontawesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


  </head>
  <body ng-app="fundos" >

<div ng-controller="fundosCtrl as listFundos" class="">

  <div class="grid-container ">


    <div class="grid-x grid-padding-x ">
      <div class="cell medium-9 large-9 small-12 list__table" >
        <div class="row collapse expanded painel-busca" >
            <div class="small-12 medium-8 large-8 columns">
                <div class="input-group painel-busca-interno">
                    <input type="search" name="search" id="search" placeholder="Buscar fundo por nome" ng-model="buscar_fundo" >

                    <i class="fa fa-search find" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="card card-fundos">
        <table class="responsive">
          <thead>
        <tr>
            <th class="fundos-nome"><span class="">Fundo</span></th>
            <th class="cabecalho ">Data <br>da cota</th>
            <th class="cabecalho">Mês (%)</th>
            <th class="cabecalho">2018 (%)</th>
            <th class="cabecalho no-break text--right">12 M (%)</th>
            <th class="cabecalho">Aplicação <span class="public-area-break">mínima (R$)</span></th>
            <th class="cabecalho">Prazo de cotização <span class="public-area-break">do resgate</span></th>
            <th class="cabecalho"><span class="hide-for-small-only">Aplicar</span></th>
        </tr>
    </thead>
    <tbody ng-repeat="(key, lista) in listFundo | groupBy: 'macro_strategy_name' ">
      <tr>
        <td colspan="8" class="ng-binding fund_macro_strategy">
          {{key | uppercase}}
        </td>
      </tr>

        <tr>
          <td colspan="8" class="corpo_main_fundos">
          <table class="responsive">
            <tbody ng-repeat="(chave, list) in lista | groupBy: 'main_strategy_name'  " class="corpo_fundos">
              <tr class="fund_macro_strategy">
                  <td colspan="8" class="fund_main_strategy">
                      {{chave}}

                  </td>
              </tr>
              <tr ng-click="toggleDetalhesFundo(fundos.id)" ng-repeat-start="fundos in list | filter:buscar_fundo " class="fundos-linhas" >
                <td class="fundos fundos-linha fundos-nome"><span>{{fundos.fundo_nome}}</span><br />
                    <span class="tipo-classe">{{fundos.tipo_fundo}} | {{fundos.classe_fundo}} </span>
                </td>
                <td class="fundos fundos-linha">{{fundos.data_cota | date: 'dd/MM/yyyy'}}</td>
                <td class="fundos fundos-linha">{{fundos.mes_porcentagem | porcentagem}}</td>
                <td class="fundos fundos-linha text--right">{{fundos.ano_porcentagem | porcentagem}}</td>
                <td class="fundos fundos-linha text--right">{{fundos.doze_m_porcentagem | porcentagem}}</td>
                <td class="fundos fundos-linha text--center">{{fundos.aplicacao_minima | moeda}}</td>
                <td class="fundos fundos-linha fundos-col-resgate text--center">{{fundos.prazo_resgate}}</td>
                <td class="fundos fundos-linha"><a ng-click=""><img ng-src="./images/bt-buscar.png" width="22" height="23"  /></a></td>
              </tr>
              <tr ng-model="DetalhesFundo[fundos.id]" ng-show="DetalhesFundo[fundos.id]">
                <td colspan="8" class="fundos fundos-linha">
                  <div class="grafico-fundo">Gráfico</div>
                  <div class="detalhes-fundo">
                    <p><span>Cotização da aplicação: </span>{{fundos.cotizacao_aplicacao}}</p>
                    <p><span>Cotização do resgate: </span>{{fundos.cotizacao_resgate}}</p>
                    <p><span>Liquidação do resgate: </span>{{fundos.liquidacao_resgate}}</p>
                    <br />
                    <a href="#">Conheça mais informações sobre este fundo</a>
                    <br /><br /><br />
                    <p><span>CNPJ do fundo: </span>{{fundos.cnpj}}</p>
                  </div>
                </td>
              </tr>
              <tr ng-repeat-end="" ng-hide="true" class="ng-scope ng-hide"></tr>
            </tbody>
          </table>
          </td>
        </tr>
    </tbody>
        </table>
      </div><!-- Fecha card-fundos -->
      </div><!--Fecha lista de fundos -->
      <div class="cell small-1"  ></div>
      <div class="cell small-2 menu-filtro">


        <ul class="small-1 " >
          <li class="item-menu-filtro" ng-repeat="(keymenu, listamenu) in listFundoMenu | groupBy: 'macro_strategy_name' " >
            <input type="checkbox" id="menu-renda-fixa-{{keymenu}}" value="{{keymenu}}" checked="{{listamenu.selecionado}}"   /> {{keymenu | uppercase}} <span class="icon-open-close" ng-click="toggleEstrategia(keymenu)"><i class="fa " data-ng-class="(MacroEstrategias[keymenu])?'fa-minus':'fa-plus'" aria-hidden="true"></i></span>
            <ul ng-model="MacroEstrategias[keymenu]" ng-show="MacroEstrategias[keymenu]">
              <li class="item-submenu-filtro" ng-repeat="(chavemenu, listmenu) in listamenu | groupBy: 'main_strategy_name'">
                <input type="checkbox" name="{{keymenu}}"  ng-model="Estrategias[chavemenu]"   ng-change="filtroEstrategia('{{chavemenu}}')"   /> {{chavemenu}}
              </li>
            </ul>
          </li>
        </ul>



      </div><!-- Fecha lista de filtros -->
    </div>
  </div>
</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script src="js/vendor/angular.1.5.9.js"></script>
    <script src="js/vendor/angular-filter.min.js"></script>

    <script src="js/controller/mainControl.js"></script>
    <script src="js/controller/fundosControl.js"></script>

  </body>
</html>
